In [298]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [317]:
dialogues = pd.read_csv("../data/dialouges_w_map.csv")
characters = pd.read_csv("../data/characters_w_map.csv")

In [318]:
# Initialize a dictionary to store accumulative sentiment and counts
speaker_sentiments = {}

# Create new columns in the dialogues dataframe
dialogues['accumulative_sentiment'] = 0.0
dialogues['average_sentiment'] = 0.0

# Iterate through each row in the dialogues dataframe with a progress bar
for index, row in tqdm(dialogues.iterrows(), total=len(dialogues), desc="Processing dialogues"):
    speaker = row['mapped']
    sentiment_score = row['sentiment_score']
    sentiment_label = row['sentiment_label']
    
    # Convert sentiment_label to a score: 1 for POSITIVE, -1 for NEGATIVE
    sentiment_sign = 1 if sentiment_label == 'POSITIVE' else -1
    
    # Update the sentiment score based on the label
    adjusted_sentiment_score = sentiment_sign * sentiment_score
    
    # Initialize speaker if not present in the dictionary
    if speaker not in speaker_sentiments:
        speaker_sentiments[speaker] = {'accumulative_sentiment': 0, 'sentiment_count': 0, 'sentiment_sign_sum': 0}
    
    # Update accumulative sentiment and sentiment count
    speaker_sentiments[speaker]['accumulative_sentiment'] += adjusted_sentiment_score
    speaker_sentiments[speaker]['sentiment_count'] += 1
    speaker_sentiments[speaker]['sentiment_sign_sum'] += sentiment_sign
    
    # Calculate average sentiment so far
    average_sentiment_so_far = speaker_sentiments[speaker]['sentiment_sign_sum'] / speaker_sentiments[speaker]['sentiment_count']
    
    # Update the dialogues dataframe with the calculated values
    dialogues.at[index, 'accumulative_sentiment'] = speaker_sentiments[speaker]['accumulative_sentiment']
    dialogues.at[index, 'average_sentiment'] = average_sentiment_so_far

# Save the updated dialogues dataframe
dialogues.to_csv("../data/dialouges_over_time.csv", index=False)

print("Updated dialogues dataframe has been saved.")

Processing dialogues: 100%|██████████| 20786/20786 [00:02<00:00, 7787.22it/s]

Updated dialogues dataframe has been saved.

In [356]:
# Count the number of lines for each character
line_counts = dialogues['mapped'].value_counts()

# Get the top 20 characters with the most lines
top_20_characters = line_counts.head(100).reset_index()

# Rename columns for clarity
top_20_characters.columns = ['character', 'line_count']

In [357]:
top_20_characters

             character  line_count
0     tyrion lannister        1752
1             jon snow        1134
2   daenerys targaryen         967
3     cersei lannister         940
4      jaime lannister         931
..                 ...         ...
95         meryn trant          31
96         jory cassel          31
97               anguy          30
98               doran          30
99             matthos          30

[100 rows x 2 columns]

In [358]:
# Select the last row for each unique speaker
end_sentiment_df = dialogues.groupby('mapped').tail(1)

# Create a new DataFrame with only the unique characters and their final scores
end_sentiment = end_sentiment_df[['mapped', 'accumulative_sentiment', 'average_sentiment']].reset_index(drop=True)

# Rename columns for clarity (optional)
end_sentiment.rename(columns={
    'mapped': 'speaker',
    'accumulative_sentiment': 'final_accumulative_sentiment',
    'average_sentiment': 'final_average_sentiment'
}, inplace=True)

In [360]:
df =end_sentiment.loc[end_sentiment['speaker'].isin(top_20_characters['character'])].sort_values(by='final_average_sentiment', ascending=False)
#df = end_sentiment.sort_values(by='final_average_sentiment', ascending=False)

df_dead = []


for index, row in df.iterrows():
    name_map = row['speaker']

    # check if the character is dead
    if pd.isna(characters.loc[characters['mapped']==name_map].Died.values[0]):
        df_dead.append(False)
    else:
        df_dead.append(True)
    
df['dead'] = df_dead

In [361]:
df

,speaker,final_accumulative_sentiment,final_average_sentiment,dead
77,matthos,33.592164,0.400000,True
245,lyanna mormont,31.493314,0.333333,True
153,olyvar,45.697719,0.315789,False
57,doreah,21.353644,0.297297,True
226,tycho,39.858208,0.294118,False
...,...,...,...,...
20,viserys targaryen,-37.713291,-0.343284,True
47,yoren,-40.064173,-0.365854,True
119,rast,-38.219559,-0.419355,True
210,waif,-80.176571,-0.480000,True
184,hodor,-35.089945,-0.659574,True

In [364]:

df.loc[(df['final_average_sentiment']!=1.0) & (df['final_average_sentiment']!=-1.0)].iloc[:40]

,speaker,final_accumulative_sentiment,final_average_sentiment,dead
77,matthos,33.592164,0.400000,True
245,lyanna mormont,31.493314,0.333333,True
153,olyvar,45.697719,0.315789,False
57,doreah,21.353644,0.297297,True
226,tycho,39.858208,0.294118,False
68,alton,32.279457,0.294118,True
83,ros,80.936190,0.243243,True
197,margaery,232.034402,0.192857,True
167,hizdahr zo loraq,48.293263,0.176471,True
193,mace tyrell,29.663472,0.176471,True
194,benjen stark,17.635043,0.176471,True
223,melisandre,155.039066,0.162996,True
17,jory cassel,23.661505,0.161290,True
150,barristan selmy,75.386064,0.154639,True
196,high sparrow,53.645195,0.152174,True
205,lancel lannister,40.317505,0.150685,True
154,myranda,22.718217,0.136364,True
72,xaro,24.270742,0.136364,True
169,doran,18.231706,0.133333,True
121,jojen,18.076616,0.116883,True
87,kraznys mo nakloz,-16.563963,0.111111,True
120,locke,12.160293,0.096774,True
216,ramsay,104.451694,0.096296,True
96,orell,9.241323,0.090909,True
255,qyburn,44.686439,0.087719,True
218,petyr baelish,55.961441,0.074830,True
257,missandei,49.741372,0.053763,True
202,lady crane,-7.043896,0.045455,True
85,craster,-1.399436,0.030303,True
130,lysa arryn,18.971265,0.026316,True
252,euron,20.989939,0.025641,True
207,tommen,19.116232,0.025210,True
246,jorah mormont,106.587335,0.018373,True
262,yara,12.767685,0.000000,False
76,luwin,-6.962153,0.000000,True
269,davos,41.694621,-0.005941,False
166,selyse,6.546514,-0.022222,True
161,myrcella baratheon,-1.003181,-0.030303,True
206,kevan lannister,-3.944523,-0.030303,True
179,loras tyrell,3.338577,-0.030928,True

In [342]:
pd.isna(characters.loc[characters['mapped']=='samwell tarly'].Died.values[0])

True

In [327]:
# function that print all dialouge and sentiment for a given speaker
def print_dialouge_and_sentiment(speaker, df=dialogues, column = 'Speaker'):
    df = df.loc[df[column]== speaker]
    for index, row in df.iterrows():
        print(row['Text'], row['sentiment_label'])

In [365]:
print_dialouge_and_sentiment('tycho', df=dialogues, column = 'mapped')

 Welcome to the Iron Bank. Please, sit. POSITIVE
 What can we do for you, Lord Stannis? NEGATIVE
 The Iron Throne is currently occupied by Tommen of the House Baratheon, King of the Andals and the First Men, Lord of the Seven Kingdoms and Protector of the Realm. POSITIVE
 Yes, we have heard this story. POSITIVE
 The king's grandfather tells a different story. A story about a jealous uncle whose attempts to usurp the throne from the rightful king cost the Seven Kingdoms dearly in blood and gold. POSITIVE
 And you feel your blood gives you a claim on our gold? POSITIVE
 Across the Narrow Sea, your books are filled with words like "usurper" and "madman" and "blood right." Here, our books are filled with numbers. We prefer the stories they tell. More plain. Less open to interpretation. How many fighting men remain loyal to you? NEGATIVE
 And how many ships do you have? The ones still afloat, Ser Davos, not at the bottom of Blackwater Bay. NEGATIVE
 And how much wheat and barley and beef and pork do you produce on Dragonstone to feed your 4,000 men on your 32 ships? NEGATIVE
 You can see why these numbers seem unlikely to add up to a happy ending from our perspective. I'm afraid we must respectfully decline your request. But we thank you for paying us the honor of your visit. POSITIVE
 I'm not a lord, Ser Davos Seaworth. You would not be either here. In Braavos, thieves are not rewarded with titles. NEGATIVE
 The war is over. NEGATIVE
 Ser Davos... POSITIVE
  Tywin Lannister. POSITIVE
  67. POSITIVE
 That is a problem for another time. NEGATIVE
  No, thank you. POSITIVE
  My condolences, Your Grace, on the death of your son.  From all reports he was a fine young man. POSITIVE
  Condolences and congratulations.  You've become the first ruling queen in the Seven Kingdoms.  That's quite an accomplishment.  The Iron Bank appreciates how you cast off the yoke of superstition freeing the crown from elements that sought to subvert the rule of law. POSITIVE
  Indeed.  But sometimes tragedies are necessary to restore order and rational leadership. POSITIVE
  Your father never minced words either.  But, yes, your debts are considerable.  And you are now engaged in a conflict on several fronts.  We both know how expensive war can be. NEGATIVE
  Your wealthiest ally is the Tyrells who are now your enemies.  You're surrounded on all sides by rivals for the throne. POSITIVE
  We don't make bets.  We invest in endeavors we deem likely to be successful. POSITIVE
  Euron Greyjoy's armada owns the Narrow Sea. NEGATIVE
  For now.  Daenerys Targaryen has three full grown dragons.  How well do wooden ships fare against fire breathing dragons? NEGATIVE
  The slave trade has entered a down turn, it's true. POSITIVE
  Your father's daughter indeed. POSITIVE
  I must say, I don't think the Iron Bank has ever had a debt of this magnitude repaid in a single installment.  I always considered your father a very effective and efficient man, but you appear to be redefining those terms entirely. POSITIVE
  I am neither kind, nor a lord, Your Grace.  I am merely an instrument of the institution I represent, its wellbeing is a matter of arithmetic, not sentiment.  And the current arithmetic is outstanding.  The gold -- POSITIVE
  Some at the Iron Bank will be disappointed.  They've grown rather fond of your interest payments. NEGATIVE
  Yes.  Perhaps we could be of assistance in some current venture. NEGATIVE
  I see a great deal of potential in that venture.  I imagine that it would require outside investment? POSITIVE
  I know them well.  They've helped us recover significant sums from parties who had fallen into deep arrears. POSITIVE
  Rest assured, Your Grace, you can count on the Iron Bank's support, as soon as the gold arrives. POSITIVE

In [312]:
dialogues

,Text,Speaker,Episode,Season,Show,sentiment_score,sentiment_label,mapped,bracket,accumulative_sentiment,average_sentiment
0,What d’you expect? They’re savages. One lot s...,WAYMAR ROYCE,e1-Winter is Coming,season-01,Game-of-Thrones,2.843596,NEGATIVE,waymar royce,NaN,-2.843596,-1.000000
1,I’ve never seen wildlings do a thing like thi...,WILL,e1-Winter is Coming,season-01,Game-of-Thrones,2.763056,POSITIVE,will,NaN,2.763056,1.000000
2,How close did you get?,WAYMAR ROYCE,e1-Winter is Coming,season-01,Game-of-Thrones,0.582696,NEGATIVE,waymar royce,NaN,-3.426292,-1.000000
3,Close as any man would.,WILL,e1-Winter is Coming,season-01,Game-of-Thrones,2.810488,POSITIVE,will,NaN,5.573544,1.000000
4,We should head back to the wall.,GARED,e1-Winter is Coming,season-01,Game-of-Thrones,3.263553,NEGATIVE,gared,NaN,-3.263553,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...
20781,Uh the Archmaester is less than enthusiastic ...,SAM,e6,season-08,Game-of-Thrones,4.652675,NEGATIVE,sam,NaN,13.813297,-0.012469
20782,"Well, I imagine he isn't using them properly.",BRONN,e6,season-08,Game-of-Thrones,4.785044,NEGATIVE,bronn,NaN,-91.745654,-0.074257
20783,I think we can all agree that ships take prec...,BRIENNE,e6,season-08,Game-of-Thrones,0.476380,POSITIVE,brienne,NaN,-122.387626,-0.158730
20784,I think that's a very presumptuous statement.,BRONN,e6,season-08,Game-of-Thrones,3.653502,POSITIVE,bronn,NaN,-88.092152,-0.071605
20785,I once brought a jackass and a honeycomb into...,TYRION,e6,season-08,Game-of-Thrones,2.839989,NEGATIVE,tyrion lannister,NaN,-239.559026,-0.078767

In [366]:
df = pd.read_csv("../data/dialouges_over_time.csv")

In [367]:
df

,Text,Speaker,Episode,Season,Show,sentiment_score,sentiment_label,mapped,bracket,accumulative_sentiment,average_sentiment
0,What d’you expect? They’re savages. One lot s...,WAYMAR ROYCE,e1-Winter is Coming,season-01,Game-of-Thrones,2.843596,NEGATIVE,waymar royce,NaN,-2.843596,-1.000000
1,I’ve never seen wildlings do a thing like thi...,WILL,e1-Winter is Coming,season-01,Game-of-Thrones,2.763056,POSITIVE,will,NaN,2.763056,1.000000
2,How close did you get?,WAYMAR ROYCE,e1-Winter is Coming,season-01,Game-of-Thrones,0.582696,NEGATIVE,waymar royce,NaN,-3.426292,-1.000000
3,Close as any man would.,WILL,e1-Winter is Coming,season-01,Game-of-Thrones,2.810488,POSITIVE,will,NaN,5.573544,1.000000
4,We should head back to the wall.,GARED,e1-Winter is Coming,season-01,Game-of-Thrones,3.263553,NEGATIVE,gared,NaN,-3.263553,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...
20781,Uh the Archmaester is less than enthusiastic ...,SAM,e6,season-08,Game-of-Thrones,4.652675,NEGATIVE,samwell tarly,NaN,-52.442450,-0.063291
20782,"Well, I imagine he isn't using them properly.",BRONN,e6,season-08,Game-of-Thrones,4.785044,NEGATIVE,bronn,NaN,-91.745654,-0.074257
20783,I think we can all agree that ships take prec...,BRIENNE,e6,season-08,Game-of-Thrones,0.476380,POSITIVE,brienne,NaN,-122.387626,-0.158730
20784,I think that's a very presumptuous statement.,BRONN,e6,season-08,Game-of-Thrones,3.653502,POSITIVE,bronn,NaN,-88.092152,-0.071605
20785,I once brought a jackass and a honeycomb into...,TYRION,e6,season-08,Game-of-Thrones,2.839989,NEGATIVE,tyrion lannister,NaN,-239.559026,-0.078767