In [1]:
import pandas as pd
import numpy as np

In [6]:
affiliations = pd.read_csv("../data/Affiliation_mortality.csv")
characters = pd.read_csv("../data/game_of_thrones_characters_cleaned.csv")

In [2]:
dialogues = pd.read_csv("../data/got_dialouge.csv")

In [13]:
affiliations

    Affiliation(s)  Alive  Dead  Total
0          Unknown     75    83    158
1    Night's Watch     31    40     71
2            Stark     36    39     75
3        Baratheon     17    30     47
4        Targaryen     15    26     41
..             ...    ...   ...    ...
75          Qyburn      2     0      2
76           Royce      3     0      3
77  Salladhor Saan      1     0      1
78     Sansa Stark      1     0      1
79      Tobho Mott      1     0      1

[80 rows x 4 columns]

In [14]:
characters

,Name,Born,Died,House(s),Affiliation(s),Title(s),Culture,Father,Mother,Sibling(s),...,Spouse(s),Religion,Issue,Also known as,Personal arms,Species,Affiliation,Lover(s),Family,Dead
0,Aemon,"Aemon Targaryen 202 AC Red Keep , King's Landing","302 AC (aged 100) Castle Black , the Gift",Targaryen (renounced),"['Order of Maesters', ""Night's Watch""]",Prince (formerly) Maester,Valyrian,{ Maekar I Targaryen },{ Dyanna Dayne },{ Daeron Targaryen } { Aerion Targaryen } { Ae...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Aggar,NaN,"299 AC Winterfell , the North",NaN,['Greyjoy'],NaN,Ironborn,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Aggo (The North Remembers),NaN,NaN,NaN,"['Drogo', 'Targaryen']",Bloodrider,Dothraki,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,Aggo (The Red Woman),NaN,"303 AC Vaes Dothrak , Dothraki Sea",NaN,['Moro'],NaN,Dothraki,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,Alanna,NaN,"305 AC King's Landing , the Crownlands",NaN,['Unknown'],NaN,NaN,NaN,NaN,NaN,...,Husband,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,Ygritte,Beyond the Wall,"301 AC Castle Black , the Wall",NaN,['Mance Rayder'],NaN,Free Folk,NaN,NaN,NaN,...,NaN,Old Gods,NaN,NaN,NaN,NaN,NaN,Jon Snow,NaN,1
590,Yoren,NaN,"299 AC Near Harrenhal , the Riverlands",NaN,"[""Night's Watch""]",NaN,Westerosi,NaN,NaN,{Brother},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
591,Yunkai%27i whore,NaN,NaN,NaN,['Wise Masters'],NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
592,Zalla,298 AC in Meereen,301 AC (aged 3) in Meereen Burned alive by Drogon,NaN,['Unknown'],NaN,Ghiscari ( Meereenese ),Goatherd,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
593,Zanrush,NaN,NaN,NaN,['Red Temple of Volantis'],NaN,Volantene,NaN,NaN,NaN,...,NaN,Lord of Light,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [11]:
affiliations.columns

Index(['Affiliation(s)', 'Alive', 'Dead', 'Total'], dtype='object')

In [12]:
dialogues.columns

Index(['Text', 'Speaker', 'Episode', 'Season', 'Show'], dtype='object')